.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.header {
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: blue;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
